USE [master]
GO
/****** Object:  Database [TP_04]    Script Date: 15/06/2022 06:39:45 p. m. ******/
CREATE DATABASE [TP_04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_04', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP_04.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_04_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP_04_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_04]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 15/06/2022 06:39:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[PrecioCompra] [float] NOT NULL,
	[TituloCompra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Codigo], [Nombre], [Apellido], [Correo], [Direccion], [Telefono], [PrecioCompra], [TituloCompra]) VALUES (42848, N'Lisandro', N'Martinez', N'l1sandro@yahoo.com', N'Doctor Angel Rotta 132', N'155125124', 32, N'Meditaciones')
INSERT [dbo].[Clientes] ([Codigo], [Nombre], [Apellido], [Correo], [Direccion], [Telefono], [PrecioCompra], [TituloCompra]) VALUES (56316, N'Gonzalo', N'Martinez', N'pitym@hotmail.com', N'Gorriti Gral Jose Ignacio 878', N'1557332218', 160, N'Dragon Ball Vol. 3')
INSERT [dbo].[Clientes] ([Codigo], [Nombre], [Apellido], [Correo], [Direccion], [Telefono], [PrecioCompra], [TituloCompra]) VALUES (60813, N'Torres', N'Ferran', N'fdeT@gmail.com', N'F Ameghino 1159', N'2184812412', 75, N'Harry Potter y la piedra filosofal')
GO
USE [master]
GO
